/* this is the structure in each block */
/* how big (width, margin, overflow, ...) */
/* where (position, z-index, ...) */
/* how is it displayed (grid, ...) */
/* how does it look (color, ...) */
/* how is it animated or transformed on some action */

:root {
    --header-height: calc(var(--button-size) + var(--body-padding) * 2);
    --body-padding: 2vw;

    --columns: 4;
    --project-list-width: 30vw;
    --project-list-viewport-width: 20vw;
    --grid-gap: 0vw;

    --button-size: 5vw;
    --thumb-size: 30px;
    --border-radius: 1em;
    --font-size: calc(calc(var(--project-list-width) - var(--grid-gap) * (var(--columns) - 1) / var(--columns)) / 25);
    --color-bg: transparent;
    --color-fg: lightgrey;
    --color-high: rgb(195, 255, 155);

    --hiding-distance: calc(100% + var(--body-padding));
    --min-brightness: 0.25;
}

@media only screen and (max-width: 1000px) {
    :root {
        --columns: 1;
    }
}

body {
    margin: var(--body-padding) 0;
    overflow: hidden;
    box-sizing: border-box;

    color: var(--color-fg);
    background-color: var(--color-bg);
}


/* ============== */
/* header section */
/* ============== */
.header {
    margin: var(--body-padding);

    display: grid;
    grid-template-columns: min-content 1fr min-content;
    justify-content: center;
}

#title {
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    text-decoration: underline;
}

.toggle-button {
    /* how big (width, margin, overflow, ...) */
    width: var(--button-size);
    height: var(--button-size);

    /* where (position, z-index, ...) */

    /* how is it displayed (grid, ...) */

    /* how does it look (color, ...) */
    background-color: var(--color-fg);
    border: none;
    border-radius: 100%;

    /* how is it animated or transformed on some action */
}

.toggle-button:hover {
    background-color: var(--color-high);
}

#project-list-button {
    left: 0;
}

#text-button {
    right: 0;
}


/* =============== */
/* content section */
/* =============== */
.content {
    height: calc(100vh - var(--header-height) - var(--body-padding));
    margin: var(--body-padding) 0;

    /* build grid layout */
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: var(--body-padding);
}


/* ================ */
/* projects section */
/* ================ */
.scroll-wrapper {
    overflow-y: auto;
    box-sizing: content-box;
    /* padding: 0 1vw 0 0; */

    /* animate toggle */
    transition: 1s;
}

.scroll-wrapper>* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#project-list-wrapper {
    transform: translate(-3vw);
}

#project-list {
    width: var(--project-list-width);
    padding: 0;

    /* build grid layout */
    /* display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--columns), min-content);
    grid-gap: var(--grid-gap); */
    /* build flex layout */
    display: flex;
    flex-direction: column;

    /* looks of list */
    list-style-type: none;

    /* animate */
    transition: 1s;

    /* 3d perspective css */
    /* transform-style: preserve-3d; */
    /* transform: perspective(var(--viewport-z-translation)); */
    /* needed for 3d perspective */
    /* overflow: visible !important; */
}

li {
    /* padding: 0 10%; */

    transition: 1s;
    filter: brightness(var(--min-brightness));
}

li:hover {
    filter: brightness(1);
    z-index: 1;
}

li:not(:hover) {
    transform: translateX(-10vw);
}

li:hover+* {
    filter: brightness(calc((1 - var(--min-brightness)) * 0.5 + var(--min-brightness)));
    transform: translateX(-2.5vw);
}

li:hover+*+* {
    filter: brightness(calc((1 - var(--min-brightness)) * 0.25 + var(--min-brightness)));
    transform: translateX(-5vw);
}

li:hover+*+*+* {
    filter: brightness(calc((1 - var(--min-brightness)) * 0.1 + var(--min-brightness)));
    transform: translateX(-7.5vw);
}

li:has(+*:hover) {
    filter: brightness(calc((1 - var(--min-brightness)) * 0.5 + var(--min-brightness)));
    transform: translateX(-2.5vw);
}

li:has(+*+*:hover) {
    filter: brightness(calc((1 - var(--min-brightness)) * 0.25 + var(--min-brightness)));
    transform: translateX(-5vw);
}

li:has(+*+*+*:hover) {
    filter: brightness(calc((1 - var(--min-brightness)) * 0.1 + var(--min-brightness)));
    transform: translateX(-7.5vw);
}

.project-link {
    width: 100%;
    position: relative;
    display: inherit;

    /* remove line height from the links <a> as there is a default height to the links themselves */
    line-height: 0;
}

.project-link:hover .project-image-title {
    opacity: 1;
}

.project-image {
    width: 100%;
    aspect-ratio: 3;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.project-image-title {
    /* size */
    width: 100%;
    height: 100%;

    /* positioned absolute to parent div (container) */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* center on image */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* reestablish line-height so text breaks work fine */
    line-height: normal;

    /* setting the alpha to .5 her makes the text itself appear in full alpha when hovering */
    background-color: rgb(0, 0, 0, .5);
    color: white;
    font-size: var(--font-size);
    border-radius: var(--border-radius);
    /* start invisible for hover effect */
    opacity: 0;

    /* hover effect reveal */
    transition: opacity 0.25s ease-in-out;
}


/* ============ */
/* text section */
/* ============ */
#text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#project-list-wrapper.isClosed {
    transform: translateX(calc(var(--hiding-distance) * -1));
}

#text-wrapper.isClosed {
    transform: translateX(var(--hiding-distance));
}




/* ====== */
/* canvas */
/* ====== */
.webgl {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}


/* ========= */
/* scrollbar */
/* ========= */
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* width */
.scroll-wrapper::-webkit-scrollbar {
    display: block;
    width: 30px;
}

.scroll-wrapper#project-list-wrapper::-webkit-scrollbar {
    display: none;
    width: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: radial-gradient(circle, var(--color-fg) 0%, var(--color-fg) 80%, transparent 100%) no-repeat;
    background-size: 3px;
    background-position: center;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, var(--color-fg) 0%, var(--color-fg) 45%, transparent 50%, transparent 100%) no-repeat;
    background-size: var(--thumb-size) var(--thumb-size);
    background-position: center;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(circle, var(--color-high) 0%, var(--color-high) 45%, transparent 50%, transparent 100%) no-repeat;
    background-size: var(--thumb-size) var(--thumb-size);
    background-position: center;
}